{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container">

<h1 class="text-muted text-center">{{dishes.name}}</h1>
    <br>
    <p>{{ dishes.category }}</p>
<img class="shadow" src="{{asset('images/' ~ dishes.image)}}" alt="{{dishes.name}}"  />


</div>


{% endblock %}
