{% extends 'base.html.twig' %}

{% block title %}Edit {% endblock %}

{% block body %}

    <div class="container">
        <h1>Edit</h1>
        <br>

        {{ include('list_of/_form.html.twig', {'button_label': 'Update'}, ) }}

        {{ include('list_of/_delete_form.html.twig') }}
        <br><br>
        <a class="btn btn-outline-primary float-left" href="{{ path('list_of_index') }}">Back to list</a>


    </div>
{% endblock %}
